@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{  padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}

body{
    background: #050e2d;    
    background-image: url('/contact.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;

  background-size: 100% 100%;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 7px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1b2141;
    transition: 0.5s;
    z-index: 1000;
}

header .logo{
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
}

header .nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
    margin: 20px;
}

header ul li a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    
}

header ul li a:hover{
    background: #1aeeef;
    color: #050e2d;
    box-shadow: 0 0 10px #1aeeef;
}

.form{
    width: 85%;
    max-width: 600px;
    background: #050e2d;
    position: absolute;
    top : 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 30px 40px;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 20px #000000b3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.form h1{
    margin-top: 0;
    font-weight: 200;
    color: #fff;
}

.txtb{
    border: 1px solid #fff;
    margin: 8px 0;
    padding: 12px 18px;
    border-radius: 8px;
}

.txtb label{
    display: block;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;

}

.txtb input, .txtb textarea{
    width: 100%;
    border: none;
    background: none;
    outline: none;
    font-size: 18px;
    margin-top: 6px;
}


.banner .bg .content a{
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    border: 1px solid #1aeeef;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    color: #ffffff
}

.banner .bg .content a:hover{
    background: #1aeeef;
    border: none;
    color: #050e2d;
    box-shadow: 0 0 10px #1aeeef;
}